// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:focus {
  background:none;color:inherit;
}

.blogShort{ border-bottom:1px solid #ddd;}

.margin10{
  margin: 10px 3px;
}

a i{
  color: #E5C100;
}